@model CustomUserSession
@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-8">
    <div class="mt-3 mx-auto max-w-lg text-center">
        <h1 class="@Css.H1">
            @ViewData["Title"]
        </h1>
        <p class="my-2">
            Learn about <a class="@Css.Link" href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
        </p>
    </div>
</div>

<div class="flex">
    @if (!Model.IsAuthenticated)
    {
        <div class="mx-auto">
            <a asp-area="" asp-controller="Account" asp-action="Login" class="@Html.ClassNames(Css.PrimaryButton, "my-4")">
                You are not yet authenticated, please sign in.
            </a>
        </div>
    }
    else
    {
        <div class="mx-auto">
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                <div class="flex items-center my-4">
                    <img src="@Model.GetProfileUrl()" class="w-8 h-8 mr-2">
                    <div>Hi @Model.DisplayName!</div>
                </div>
                <div>
                    <button type="submit" class="@Css.SecondaryButton">Sign Out</button>
                </div>
            </form>
        </div>
    }
</div>

<partial name="_PagesAndApisPartial"/>